{% extends "base.html" %}

{% block title %}作者详细信息{% endblock %}

{% block content %}
    <div class="row"
         style="height: auto; width: auto; margin:20px 0; padding: 10px 0; background-color: white; border-radius: 10px;">
        <div class=" col-sm-3">
            <a href="{% url 'authors:authors_detail' author.id %}">
                <img src="{{ MEDIA_URL }}{{ author.image_path }}" style="height: 280px; width: auto;">
            </a>
        </div>
        <div class="col-sm-9">
            <h3>{{ author.name }}</h3>
            <br>
            <p>简介:<br>
                {{ author.detail }}
            </p>
        </div>
    </div>

    <div class="panel panel-primary" style="margin: 20px 0">
        <div class="panel-heading">
            <h3 class="panel-title">全部小说</h3>
        </div>

        <div class="row" style="padding: 5px;">
            {% for novel in novels %}
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <a href="{% url 'novel:novel_detail' novel.id %}">
                            <img src="{{ MEDIA_URL }}{{ novel.image_path }}"
                                 alt="小说图片" style="height: 200px; width: auto;">
                        </a>
                        <p class="text-center"><a
                                href="{% url 'novel:novel_detail' novel.id %}">{{ novel.novel_name }}</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}