{% extends "base.html" %}
{% load staticfiles %}

{% block title %}个人信息中心{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/WdatePicker.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row" style="margin-top: 20px">
        <div class="col-xs-2" style="padding-right: 20px;">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'users:info' %}">个人信息</a></li>
                <li class="active"><a href="{% url 'users:favorite' %}">我的收藏</a></li>
                <li><a href="{% url 'users:message' %}">我的消息</a></li>
                <li><a href="{% url 'users:user_suggest' %}">我的建议</a></li>
            </ul>
        </div>

        <div class="col-xs-10">
            <div class="panel panel-primary">
                <div class="panel-heading">我的收藏</div>
                <div class="row">
                    {% for novel, notice_enable in novels %}
                        <div class="col-xs-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    {{ novel.novel_name }}
                                </div>
                                <div class="thumbnail">
                                    <a href="{% url 'novel:chapter_list' novel.id %}">
                                        <img src="{{ MEDIA_URL }}{{ novel.image_path }}"
                                             alt="小说图片" style="height: 250px; width: auto;">
                                    </a>
                                </div>
                                <div class="caption">
                                    <span><a href="#" class="glyphicon glyphicon-trash pull-right"
                                             style="margin-right: 10px"
                                             onclick="add_fav({{ novel.id }})"></a></span>
                                    <span>更新提醒: <a href="#" title="通知选择顺序为:邮件-短信-消息,开启前最好已绑定邮箱或手机."
                                                   onclick="update_notice(this, {{ novel.id }})">
                                        <small>{% if notice_enable %}关闭{% else %}启用{% endif %}</small></a></span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        function add_fav(novel_id) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'operation:add_fav' %}",
                data: {
                    novel_id: novel_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                async: true,
                success: function (data) {
                    if (data.status == "success") {
                        location.reload();
                    }
                    else {
                        alert(data.msg);
                    }
                }
            });
        }

        function update_notice(current_elem, novel_id) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'operation:update_notice' %}",
                data: {
                    novel_id: novel_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                async: true,
                success: function (data) {
                    if (data.status == "success") {
                        if (data.msg == "off") {
                            current_elem.innerHTML = "<small>启用</small>";
                        }
                        else {
                            current_elem.innerHTML = "<small>关闭</small>";
                        }
                    }
                    else {
                        alert(data.msg);
                    }
                }
            });
        }
    </script>
{% endblock %}