{% extends "base.html" %}

{% block title %}
    {{ novel.novel_name }} - 章节
{% endblock %}

{% block content %}
    <div class="panel panel-primary" style="margin: 20px 0">
        <div class="panel-heading">
            <div class="panel-title">
                最新章节
            </div>
        </div>

        <table class="table table-bordered" style="margin: 10px 0">
            <tbody>
            <tr>
                {% for new_chapter in new_chapters %}
                    <td style="background-color: white;"><a
                            href="{% url 'novel:chapter_detail' new_chapter.id %}?sort={{ sortby }}">{{ new_chapter.chapter_name }}</a>
                    </td>
                    {% if forloop.counter|divisibleby:4 %}
                        </tr>
                        <tr>
                    {% endif %}
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>


    <div class="panel panel-primary" style="margin: 20px 0">
        <div class="panel-heading">
            <a class="panel-title"
               href="{% url 'novel:chapter_list' novel.id %}?sort={% ifequal sortby '' %}reverse{% endifequal %}">
                {% ifequal sortby 'reverse' %}
                    <small>正序↑</small>{% else %}
                    <small>倒序↓</small>{% endifequal %}</a>
        </div>

        <table class="table table-bordered" style="margin: 10px 0">
            <tbody>
            <tr>
                {% for chapter in chapters.object_list %}
                    <td style="background-color: white;"><a
                            href="{% url 'novel:chapter_detail' chapter.id %}?sort={{ sortby }}&page={{ page }}">{{ chapter.chapter_name }}</a>
                    </td>
                    {% if forloop.counter|divisibleby:4 %}
                        </tr>
                        <tr>
                    {% endif %}
                {% endfor %}
                </tr>
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination">
                {% if chapters.has_previous %}
                    <li><a href="?{{ chapters.previous_page_number.querystring }}">上一页</a></li>
                {% else %}
                    <li><span class="disabled prev">上一页</span></li>
                {% endif %}

                {% for page in chapters.pages %}
                    {% if page %}
                        {% ifequal page chapters.number %}
                            <li class="active"><span class="current page">{{ page }}</span></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li class="none"><a href="#">...</a></li>
                    {% endif %}
                {% endfor %}

                {% if chapters.has_next %}
                    <li><a href="?{{ chapters.next_page_number.querystring }}">下一页</a></li>
                {% else %}
                    <li><span class="disabled next">下一页</span></li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}

